
.price{
    font-weight: bolder;
    
}
.price-cart{
    font-weight: bolder;
}
@media only screen and (max-width: 767px) {
    .p-5 {
        padding: 1rem!important;
    }
  }
  @media only screen and (min-width:930px) and (max-width: 992px) {
    button.navbar-toggler {
        margin-right: -100px!important;
    }
  }
  @media only screen and (min-width:860px) and (max-width: 929px) {
    button.navbar-toggler {
        margin-right: -50px!important;
    }
  }
  @media only screen and (min-width:625px) and (max-width:767px) {
    button.navbar-toggler {
        margin-right: -30px!important;
    }
  }
  
  .fa-user{
    font-size: 25px !important;
    padding: 05px;
    color: blue;
  }
 .username{
    padding: 05px;
    color: red;
 }